label
{
    font-size: large;
    font-weight: bolder;
    margin:5px;
    text-align: start;
}

form
{
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
}

input,textarea,button
{
    margin: 5px;
    resize: none;
}

input,textarea
{
    max-width: 99%;
}